body {
  background-color: #111111;
}

input.form-control::placeholder {
  color: #ffffff;
}

.form-control:focus {
  box-shadow: none !important;
}

.bg-inter {
  background-color: #67bb6b;
  border-radius: 40px;
  padding: 8px 16px;
}
#searchbar input.form-control { 
  background-color: #67bb6b;
  border: 0;
  border-radius: 30px;
  color: #ffffff;
  font-size: 22px;
  padding-inline: 10px;
}

#searchbar {
  animation: fadeIn 0.8s ease-out forwards;
}

.card { 
  transition: all ease 0.6s;
  animation: fadeIn 1s ease-out forwards;
  border: 1px solid #2c2c2c;
  border-radius: 25px !important;
}

.card:hover { 
  box-shadow: 0px 0px 15px 2px #67bb6b2e;
}

.card > .card-header {
  background-color: #2c2c2c;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-bottom: 0;
  color: #67bb6b;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  padding-top: 20px;
}

.card > .card-body {
  /*border: 3px solid #212529 !important;*/
  background-color: #2c2c2c;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.card > .card-body p {
  color: #ffffff;
  font-size: 20px;
  font-weight: lighter;
  line-height: 26px;
}

footer.blockquote-footer {
  color: #ffffff;
}
cite > a, .t-green {
  color: #67bb6b !important;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
